* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-style: none;
}

header .nav {
  margin: 0;
  padding: 0 15%;
  display: flex;
  background-color: #0040a2;
  color: white;
  justify-content: space-between;
}
header .nav .logo {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}
header .nav .menu {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  header .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  header .nav .menu {
    display: none;
  }
}
.bungkus-personal .personal {
  padding-top: 70px;
  background-color: #0040a2;
  display: flex;
  padding: 0 15%;
}
.bungkus-personal .personal .text-personal {
  color: white;
  margin: auto;
  width: 50%;
}
.bungkus-personal .personal .text-personal h1 {
  font-size: 45px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  width: 290px;
}
.bungkus-personal .personal .text-personal .sub-h1 {
  font-size: 15px;
  font-weight: bold;
  color: chocolate;
}
.bungkus-personal .personal .text-personal p {
  width: 290px;
}
.bungkus-personal .personal .picture-personal {
  width: 50%;
  text-align: center;
}
.bungkus-personal .personal .picture-personal img {
  width: fit-content;
  max-height: 500px;
}
.bungkus-personal .ajakan {
  display: flex;
}
.bungkus-personal .ajakan .data {
  padding: 30px 0;
  width: 50%;
  padding: 0 5% 0 15%;
  align-items: center;
}
.bungkus-personal .ajakan .data h2 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(212, 212, 212);
  margin-top: 30px;
}
.bungkus-personal .ajakan .data p {
  margin-bottom: 30px;
  width: 290px;
}
.bungkus-personal .ajakan .quote-motivation {
  width: 50%;
  background-color: rgb(255, 195, 83);
  padding: 30px 0;
  padding: 0 5%;
}
.bungkus-personal .ajakan .quote-motivation h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}
.bungkus-personal .ajakan .quote-motivation p {
  margin-bottom: 30px;
  width: 290px;
}

@media screen and (max-width: 1023px) {
  .bungkus-personal .personal .picture-personal img {
    max-height: 400px;
  }
  .bungkus-personal .personal {
    padding: 0 10%;
  }
  .bungkus-personal .ajakan .data {
    padding: 0 5% 0 10%;
  }
}
@media screen and (max-width: 600px) {
  .bungkus-personal .personal {
    padding: 0 10%;
    flex-direction: column;
    background-color: #13c746;
  }
  .bungkus-personal .personal .text-personal {
    margin: 0;
  }
  .bungkus-personal .personal .picture-personal {
    width: 100%;
  }
  .bungkus-personal .personal .picture-personal img {
    max-height: 300px;
  }
  .bungkus-personal .ajakan .quote-motivation p {
    margin-bottom: 30px;
    width: 100%;
  }
  .bungkus-personal .ajakan .data p {
    width: 100%;
  }
}
.cualivication {
  display: flex;
  padding: 190px 15%;
  margin: auto;
  gap: 40px;
  background-color: #1cc14b;
}
.cualivication .project-cualivication {
  margin: auto;
  width: 50%;
}
.cualivication .project-cualivication .h3-project {
  font-size: 35px;
}
.cualivication .project-cualivication .p-project {
  line-height: 23px;
  padding: 10px 0;
}
.cualivication .project-cualivication .data-project {
  display: flex;
  gap: 18px;
}
.cualivication .project-cualivication .data-project .project-commplet .done {
  font-size: 30px;
  font-weight: bold;
}
.cualivication .project-cualivication .progres-project .fix {
  font-size: 30px;
  font-weight: bold;
}
.cualivication .implementation-cualivication {
  width: 30%;
  margin: auto;
}
.cualivication .implementation-cualivication .web {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.cualivication .implementation-cualivication .web .div-cualivication .p-cualivication {
  font-weight: bold;
}
.cualivication .implementation-cualivication .book {
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1e6;
  border-bottom: 1px solid #f1f1e6;
  padding: 10px 0;
}
.cualivication .implementation-cualivication .book .div-cualivication .p-cualivication {
  font-weight: bold;
}
.cualivication .implementation-cualivication .media {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.cualivication .implementation-cualivication .media .div-cualivication .p-cualivication {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .cualivication {
    flex-direction: column;
    padding: 190px 10%;
  }
  .cualivication .project-cualivication,
  .cualivication .implementation-cualivication {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */