@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-style: none;
}

header .nav {
  margin: 0;
  padding: 0 15%;
  display: flex;
  background-color: white;
  color: #0040a2;
  justify-content: space-between;
}
header .nav .logo {
  font-size: 45px;
  font-family: "Dawning of a New Day", cursive;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}
header .nav .menu {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}
header .nav .menu li {
  padding: 2px 10px;
}
header .nav .menu li a {
  text-decoration: none;
  color: #0040a2;
}

.menu li:hover {
  padding: 2px 10px;
  background: rgba(30, 0, 162, 0.121);
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  header .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .nav .logo {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  header .nav .menu {
    display: none;
  }
}
.bungkus-personal .personal {
  padding-top: 70px;
  background-color: white;
  display: flex;
  padding: 0 15%;
}
.bungkus-personal .personal .text-personal {
  color: #0040a2;
  margin: auto;
  width: 50%;
  padding-left: 30px;
  padding-bottom: 20px;
}
.bungkus-personal .personal .text-personal h1 {
  font-size: 45px;
  margin-bottom: 30px;
  width: 290px;
}
.bungkus-personal .personal .text-personal .sub-h1 {
  font-size: 15px;
  font-weight: bold;
  color: #0040a2;
}
.bungkus-personal .personal .text-personal p {
  width: 290px;
  color: #0040a2;
}
.bungkus-personal .personal .picture-personal {
  width: 50%;
  text-align: center;
}
.bungkus-personal .personal .picture-personal img {
  width: 100%;
  max-height: 500px;
  margin-bottom: -5px;
}
.bungkus-personal .ajakan {
  display: flex;
}
.bungkus-personal .ajakan .data {
  padding: 30px 0;
  width: 50%;
  padding: 0 5% 0 15%;
  align-items: center;
  background-color: #92c11c;
}
.bungkus-personal .ajakan .data h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}
.bungkus-personal .ajakan .data p {
  margin-bottom: 30px;
  width: 290px;
}
.bungkus-personal .ajakan .quote-motivation {
  width: 50%;
  background-color: rgb(255, 195, 83);
  padding: 30px 0;
  padding: 0 5%;
}
.bungkus-personal .ajakan .quote-motivation h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}
.bungkus-personal .ajakan .quote-motivation p {
  margin-bottom: 30px;
  width: 290px;
}

@media screen and (max-width: 1023px) {
  .bungkus-personal .personal .picture-personal img {
    width: 100%;
    object-fit: scale-down;
  }
  .bungkus-personal .personal {
    padding: 0 10%;
    padding-top: 20px;
  }
  .bungkus-personal .ajakan .data {
    padding: 0 5% 0 10%;
  }
  .bungkus-personal .ajakan .data h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
  }
  .bungkus-personal .ajakan .quote-motivation h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
  }
  .bungkus-personal .ajakan .data p {
    margin-bottom: 12px;
  }
  .bungkus-personal .personal .text-personal {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .bungkus-personal .personal {
    padding: 0 10%;
    flex-direction: column;
    padding-top: 20px;
  }
  .bungkus-personal .personal .text-personal {
    margin: 0;
    padding-left: 0;
  }
  .bungkus-personal .personal .text-personal h1 {
    margin-bottom: 20px;
    font-size: 35px;
    width: 230px;
  }
  .bungkus-personal .personal .picture-personal {
    width: 100%;
  }
  .bungkus-personal .personal .picture-personal img {
    width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    margin-top: 15px;
  }
  .bungkus-personal .ajakan .quote-motivation p {
    margin-bottom: 30px;
    width: 100%;
  }
  .bungkus-personal .ajakan .data p {
    width: 100%;
  }
}
.cualivication {
  display: flex;
  padding: 190px 15%;
  margin: auto;
  gap: 40px;
}
.cualivication .project-cualivication {
  margin: auto;
  width: 50%;
}
.cualivication .project-cualivication .h3-project {
  font-size: 35px;
}
.cualivication .project-cualivication .p-project {
  line-height: 23px;
  padding: 10px 0;
}
.cualivication .project-cualivication .data-project {
  display: flex;
  gap: 18px;
  padding-top: 10px;
}
.cualivication .project-cualivication .data-project .project-commplet .done {
  font-size: 30px;
  font-weight: bold;
}
.cualivication .project-cualivication .progres-project .fix {
  font-size: 30px;
  font-weight: bold;
}
.cualivication .implementation-cualivication {
  width: 30%;
  margin: auto;
}
.cualivication .implementation-cualivication .web {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.cualivication .implementation-cualivication .web .div-cualivication .p-cualivication {
  font-weight: bold;
  line-height: 25px;
}
.cualivication .implementation-cualivication .book {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 10px 0;
}
.cualivication .implementation-cualivication .book .div-cualivication .p-cualivication {
  font-weight: bold;
  line-height: 25px;
}
.cualivication .implementation-cualivication .media {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.cualivication .implementation-cualivication .media .div-cualivication .p-cualivication {
  font-weight: bold;
  line-height: 25px;
}

@media screen and (max-width: 1023px) {
  .cualivication {
    flex-direction: column-reverse;
    padding: 190px 10%;
  }
  .cualivication .project-cualivication,
  .cualivication .implementation-cualivication {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .cualivication {
    padding: 170px 10%;
  }
}
.org {
  padding: 150px 15%;
  background-color: #0040a2;
  color: white;
}
.org .text-org {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.flex-exprience {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}
.flex-exprience .flex-org {
  gap: 20px;
  margin: 0;
  width: 40%;
  display: flex;
}
.flex-exprience .flex-org .image-logo {
  height: 60px;
  object-fit: cover;
}
.flex-exprience .flex-org .kerjanya h3,
.flex-exprience .flex-org .kerjanya p {
  line-height: 23px;
}
.flex-exprience .text-kerjanya {
  width: 70%;
}
.flex-exprience .text-kerjanya .judul-kerjanya {
  font-weight: 500;
  line-height: 23px;
}
.flex-exprience .text-kerjanya p {
  line-height: 23px;
}

@media screen and (max-width: 1023px) {
  .org {
    padding: 70px 10%;
  }
  .org .flex-exprience .flex-org {
    width: 30%;
    flex-direction: column;
    gap: 10px;
  }
  .org .flex-exprience .flex-org .image-logo {
    width: 60px;
    object-fit: cover;
  }
  .org .flex-exprience .text-kerjanya {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .org .flex-exprience {
    gap: 10px;
    flex-direction: column;
  }
  .org .flex-exprience .flex-org {
    width: 100%;
  }
  .org .flex-exprience .flex-org .kerjanya {
    width: 300px;
  }
  .org .flex-exprience .text-kerjanya {
    width: 100%;
  }
}
.skill {
  padding: 70px 15%;
  margin: auto;
}
.skill .my-skill {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.skill .skill1 {
  display: flex;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.skill .skill1 .web-design {
  width: 40%;
  background-color: #92c11c;
  padding: 80px;
  border-top-left-radius: 10px;
}
.skill .skill1 .layout {
  width: 60%;
  background-color: rgb(255, 195, 83);
  padding: 80px;
  border-top-right-radius: 10px;
}
.skill .skill2 {
  display: flex;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.skill .skill2 .social-media {
  width: 60%;
  background-color: #245ad7;
  padding: 80px;
  border-bottom-left-radius: 10px;
}
.skill .skill2 .eat {
  width: 40%;
  background-color: #36b667;
  padding: 80px;
  border-bottom-right-radius: 10px;
}

.skill .skill1 .web-design:hover,
.skill .skill1 .layout:hover,
.skill .skill2 .social-media:hover,
.skill .skill2 .eat:hover {
  background: rgba(30, 0, 162, 0.121);
}

.skill .skill1:hover,
.skill .skill2:hover {
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  .skill {
    padding: 70px 10%;
  }
  .my-skill {
    font-size: 5px;
    font-weight: bold;
  }
  .skill1,
  .skill2 {
    display: flex;
  }
  .skill .skill1 .web-design,
  .skill .skill1 .layout {
    padding: 70px 5px;
    font-size: 18px;
  }
  .skill .skill2 .social-media,
  .skill .skill2 .eat {
    padding: 70px 5px;
    font-size: 18px;
  }
}
.triangle {
  display: overflow;
  width: 0;
  height: 0;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1em;
  border-bottom-color: rgb(60, 75, 80);
  cursor: pointer;
}

.footer {
  border-top: 0.5px solid rgba(0, 65, 162, 0.3490196078);
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
}
.footer .logo-footer {
  display: flex;
  align-items: center;
}
.footer .logo-footer .logonya {
  font-family: "Dawning of a New Day", cursive;
  font-weight: bold;
  font-size: 40px;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  margin-bottom: 7px;
  color: #0040a2;
}
.footer .copyright {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .copyright p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */